
header {
    font-size: xx-large;
    font-weight: bold;
    color: #ff0062;
   text-shadow: 3px 3px 5px black;


   
  ;
}

header img {
    width: 75px;
    height: 75px;
}

main {
    margin-left: 15%;
}

.flex {
    display: flex;
}

li::marker {
    color: rgb(227, 209, 209);
}

.liGreen {
    color: #ea6a3f;
}

.liBlue {
    color: #ff0062;
}

.mainblurb {
    font-size: x-large;
    width: 45%;
    margin-left: 40%;
}

.paragraph{
    text-align: center;
}


button {
    background-color: black;
    color: #ff0062;
    border-radius: 10px;
}

#search {

}


#calendar{
}


#list-results{

}


#spotify-login{

}


#results-container{
}

#authenticate{

}

#startDate{

}

#endDate{

}

/* media queries */

@media screen and (max-width: 700px) {
.flex {
    flex-direction: column;
}


    .mainblurb {
        position: relative;
        width: fit-content;
        margin-left: 0%;
        margin-right: 10%;
        
    }

  aside {
        margin-right: 50px;
        
        
    }

    main {
        margin-right: 10%;
    }

    #authenticate{
        width: 88%;
        font-size: x-large;
    }

    #search{
        font-size: x-large;
        width: 88%;
    }

    #calendar{
        flex-direction: column;
        font-size: x-large;
        
        
    }

    

    #startDateContainer{
        padding-bottom: 10px;
        
    }
    #startDate{
        width: 88%;
    }

    #endDateContainer{
        padding-bottom: 10px;
        
    }

    #endDate{
        width:88%;
    }

    #list-results{
        font-size: larger;
    }

}