
header {
    font-size: xx-large;
    font-weight: bold;
    color: #ff0062;
   text-shadow: 3px 3px 5px black;


   
  ;
}

header img {
    width: 75px;
    height: 75px;
}

main {
    margin-left: 15%;
}

.flex {
    display: flex;
}

li::marker {
    color: rgb(227, 209, 209);
}

.liGreen {
    color: #ea6a3f;
}

.liBlue {
    color: #ff0062;
}

.mainblurb {
    font-size: x-large;
    width: 40%;
    margin-left: 35%;}


button {
    background-color: black;
    color: #ff0062;
    border-radius: 10px;
}

#search {

}


#calendar{
    display: flex;
}


#list-results{

}


#spotify-login{

}


#results-container{
}

/* media queries */

@media screen and (max-width: 700px) {
.flex {
    flex-direction: column;
}


    .mainblurb {
        position: relative;
        z-index: 1;
        margin-left: 0%;
    }

  aside {
        margin-right: 50px;
        position: relative;
        z-index: 2;
    }


}